<ion-view title="{{ logo }}" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div style="margin: 0px; line-height: 250px; text-align: center; background-color: rgb(232, 235, 239);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h3 id="home-heading1" style="color:#000000;" class=" ">Horários Attitude</h3>
        <p id="home-markdown1" style="color:#000000;" class=" ">Fique atualizado com os horários das aulas da Academia Attitude.</p>
        <a ui-sref="tabsController.horarios" id="home-button4" class=" button button-balanced button-block icon-left ion-ios-clock ">Horários das aulas</a>
        <h3 id="home-heading2" style="color:#000000;" class=" ">Entre em contato</h3>
        <p id="home-markdown1" style="color:#000000;" class=" ">Siga nas redes sociais ou entre em contato!</p>
        <div id="home-button-bar1" class=" button-bar ">
            <a href="#" onclick="window.open('http://www.facebook.com/academiaattitudesj', '_system', 'location=yes'); return false;" id="home-button2" class=" button button-balanced button-block icon ion-social-facebook "></a>
            <a href="#" onclick="window.open('http://instagram.com/academiaattitudesj', '_system', 'location=yes'); return false;" id="home-button3" class=" button button-balanced button-block icon ion-social-instagram-outline "></a>
            <a href="#" onclick="window.open('tel:+554832413232', '_system', 'location=yes'); return false;" id="home-button4" class=" button button-balanced button-block icon ion-ios-telephone "></a>
        </div>
        <p id="home-markdown2" style="color:#000000;" class=" ">Rua Osni João Vieira, 893<br/>São José, SC<br>(48) 3241-3232</p>
    </ion-content>
</ion-view>