<ion-view title="Home" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div id="home-button-bar1" class=" button-bar "></div>
        <div style="margin: 0px; line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <h3 id="home-heading1" style="color:#000000;" class=" ">Horários das aulas</h3>
        <div id="home-markdown1" style="color:#000000;" class=" ">
            <p>Clique no botao abaixo e fique atualizado com o horarios das nossas aulas.</p>
        </div>
        <a ui-sref="tabsMenu.horRios" id="home-button4" class=" button button-balanced  button-block icon-left ion-ios-timer ">Horários das aulas</a>
        <h3 id="home-heading2" style="color:#000000;" class=" ">Fale com a gente!</h3>
        <div id="home-button-bar2" class=" button-bar ">
            <a href="#" onclick="window.open('http://www.facebook.com/academiaattitudesj', '_system', 'location=yes'); return false;" id="home-button5" class=" button button-balanced  button-block icon ion-social-facebook "></a>
            <a href="#" onclick="window.open('http://instagram.com/academiaattitudesj', '_system', 'location=yes'); return false;" id="home-button6" class=" button button-balanced  button-block icon ion-social-instagram-outline "></a>
            <a href="tel:+554832413232" id="home-button7" class=" button button-balanced  button-block icon ion-ios-telephone "></a>
        </div>
        <div id="home-markdown2" style="color:#000000;" class=" ">
            <p>Academia Attitude<br/>Rua Osni Joao Vieira, 893. Sao Jose / SC.</p>
        </div>
    </ion-content>
</ion-view>