<ion-view title="Horario" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="horario-list2" class=" ">
            <ion-item id="horario-list-item4" class="  ">Item 1
                <span class="item-note">08:00</span>
            </ion-item>
            <ion-item id="horario-list-item5" class="  ">Item 2
                <span class="item-note">09:00</span>
            </ion-item>
            <ion-item id="horario-list-item6" class="  ">Item 3
                <span class="item-note">10:00</span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>