<ion-view title="{{ logo }}" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="horarios-list1" class=" ">
            <ion-item class="item-icon-left  " id="horarios-list-item1" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Item 1</ion-item>
            <ion-item class="item-icon-left  " id="horarios-list-item2" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Item 2</ion-item>
            <ion-item class="item-icon-left  " id="horarios-list-item3" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>