<ion-view title="{{ logo }}" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="horarios-list1" class=" ">
            <ion-item class="item-icon-left  " id="horarios-list-item1" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Segunda-feira</ion-item>
            <ion-item class="item-icon-left  " id="horarios-list-item2" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Terça-feira</ion-item>
            <ion-item class="item-icon-left  " id="horarios-list-item3" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Quarta-feira</ion-item>
            <ion-item class="item-icon-left  " id="horarios-list-item3" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Quinta-feira</ion-item>
            <ion-item class="item-icon-left  " id="horarios-list-item3" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Sexta-feira</ion-item>
            <ion-item class="item-icon-left  " id="horarios-list-item3" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Sábado</ion-item>
            <ion-item class="item-icon-left  " id="horarios-list-item3" ui-sref="tabsController.horario">
                <i class="icon ion-ios-clock-outline"></i>Domingo</ion-item>
        </ion-list>
    </ion-content>
</ion-view>