<ion-view title="Horários" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="horRios-list3" class=" ">
            <ion-item class="item-icon-left  " id="horRios-list-item10" ui-sref="tabsMenu.horRio">
                <i class="icon ion-ios-calendar-outline"></i>Item 1</ion-item>
            <ion-item class="item-icon-left  " id="horRios-list-item11" ui-sref="tabsMenu.horRio">
                <i class="icon ion-ios-calendar-outline"></i>Item 2</ion-item>
            <ion-item class="item-icon-left  " id="horRios-list-item12" ui-sref="tabsMenu.horRio">
                <i class="icon ion-ios-calendar-outline"></i>Item 3</ion-item>
            <ion-item class="item-icon-left  " id="horRios-list-item18">
                <i class="icon ion-ios-calendar-outline"></i>Item 3</ion-item>
            <ion-item class="item-icon-left  " id="horRios-list-item19">
                <i class="icon ion-ios-calendar-outline"></i>Item 3</ion-item>
            <ion-item class="item-icon-left  " id="horRios-list-item20">
                <i class="icon ion-ios-calendar-outline"></i>Item 3</ion-item>
            <ion-item class="item-icon-left  " id="horRios-list-item21">
                <i class="icon ion-ios-calendar-outline"></i>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>